version: '3.8'
services:
  jenkins:
    build: .
    privileged: true
    user: root
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    environment:
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc.yaml
    volumes:
      - ./casc.yaml:/var/jenkins_home/casc.yaml
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
volumes:
  jenkins_home: